<script src="/js/results.js"></script>

<h1><%- title %></h1>
<div id="primary" class="gallery">
    <hr>
    <h2>Image results for <%- title %>:</h2>
    <hr>
    <% if(images.primary.length == 0) { %>
        <p>No images found for <%- title %></p>
    <% } else { %>
        <% images.primary.forEach(function(image, index) { %>
            <div class="galleryimage">
                <img onclick="openModal('pmod<%- index %>')" src="<%- image %>" />
            </div>
            <div id="pmod<%- index %>" class="gallerymodal">
                <img src="<%- image %>" />
                <span onclick="hideModal('pmod<%- index %>')">x</span>
            </div>
        <% }); %> 
    <% } %>
</div>
<div id="related" class="gallery">
    <hr>
    <h2>Image results for related articles:</h2>
    <hr>
    <% if(images.related.length == 0) { %>
            <p>No images found for related articles</p>
    <% } else { %>
        <% images.related.forEach(function(image, index) { %>
            <div class="galleryimage">
                <img onclick="openModal('rmod<%- index %>')" src="<%- image %>" />
            </div>
            <div id="rmod<%- index %>" class="gallerymodal">
                <img src="<%- image %>" />
                <span onclick="hideModal('rmod<%- index %>')">x</span>
            </div>
        <% }); %> 
    <% } %>
</div>
